{% layout 'baul' %}

{% render 'baul-header' %}

<section class="terms-page">
  <div class="sec-bg-grid"></div>
  <div class="terms-wrap">
    <h1 class="terms-title">POLÍTICA DE ENVÍOS</h1>

    <div class="terms-content">
      {{ page.content }}
    </div>
  </div>
</section>
